/* default / demo page */
* {
	box-sizing: border-box;
	}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Mada', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	min-height: 1280px;
	font-weight: 300;
	color: #2a2a2a;
}

p, h1, h2, h3, h4, a {
	margin: 0;
}

h1 {
	font-family:'Mada';
	font-size: 200px;
	font-weight:700;
}

a, a:visited, a:hover {
	color: #f30;
	text-decoration: none;
	border-bottom: 1px solid currentColor;
}

#intro {
	max-width: 40rem;
	margin: 1rem auto;
	text-align: center;
	margin-bottom: 200px;
}

#outro {
	height: 640px;
}

/* scrollama */
#scroll {
	position: relative;
}

.scroll__graphic {
	position: -webkit-sticky;
	position: sticky;
	float: right;
	width:100%;
	top:5%;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index:100;
}

.scroll__graphic.is-fixed {
	position:fixed;
	width:100%;
	top:5%;
}

.scroll__graphic.is-bottom {
	bottom: 0;
	top: auto;
}

.change-data-button {
	width:150px;
	height:10px;
	margin: 0 auto;
	font-weight:700;
	cursor:pointer;
}

.meme-name-container {
	position:absolute;
	font-family:'Mada';
	top:10%;
	left:15%;
	width:30%;
	background-color:white;
	padding:10px;
	border-radius:5px;
}

.meme-name {
	font-weight:700;
}

.meme-name-sub {

}

.month {
	color:#FF0000;
	font-weight:700;
}

@media only screen and (min-width : 1000px) {
	.meme-name {
		font-size: 50px;
	}

	.meme-name-sub {
		font-size:30px;
	}

	.month {
		font-size:30px;
	}
}

@media only screen and (min-width : 764px) and (max-width: 999px) {
		.meme-name {
				font-size: 40px;
	}

	.meme-name-sub {
			font-size:25px;
	}

	.month {
			font-size:25px;
	}
}

@media only screen and (max-width: 763px) {
	.meme-name {
			font-size: 30px;
	}

	.meme-name-sub {
			font-size:20px;
	}

	.month {
				font-size:20px;
	}
}

#tweet {
	position:absolute;
	left:55%;
	top:10%;
	width:33%;
	height:50%;
}

twitterwidget {

}

.scroll__text {
	position: relative;
	max-width: 30rem;
	width: 33%;
}

.step {
	position:absolute;
	width:1px;
	/* border-bottom: none; */
}

.joyplot-container {
	position:absolute;
	top:0;
	width:80%;
	left:10%;
}

svg {
	display: block;
	margin: 0 auto;
	font-family: 'Mada';
	font-weight: 300;
}

.x-axis line {
}

.x-axis text {
	font-family: 'Mada';
	font-size: 12px;
	font-weight:500;
}

.line {
	fill: none;
	stroke: #fff;
}

.area {
	fill: #448cab;
}

.annotation text {
	fill: black;
}

#tweet-storage {
	display:none;
}
