/* default / demo page */
* {
	box-sizing: border-box;
	}

html, body {
	margin: 0;
	padding: 0;
	font-family: 'Mada', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
	min-height: 1280px;
	font-weight: 300;
	color: #2a2a2a;
	background-color:black;
}

p, h1, h2, h3, h4, a {
	margin: 0;
}

h1 {
	font-family:'Mada';
	font-size: 200px;
	font-weight:700;
}

a, a:visited, a:hover {
	color: #f30;
	text-decoration: none;
	border-bottom: 1px solid currentColor;
}

#intro {
	margin: 0 auto;
	text-align: center;
	height:900px;
	background-color:black;
}

.feature-image-container {
	height:750px;
	width:1050px;
	margin: 0 auto;
}
.row {
	width:100%;
	height:20%;
	float:left;
}

.center-row {
	float:left
	width:100%;
	height:60%;
}

.center-row-side {
	float:left;
	width:28.4%;
	height:100%;
}

.center-row-middle {
	float:left;
	width:42.6%;
	height:100%;
}

.cell {
	width:14.2%;
	height:100%;
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
	position:relative;
	overflow: hidden;
}

.side-cell {
	width:50%;
	height:33.3%;
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
}

.title-cell {
	padding-top:80px;
	width:100%;
	height:100%;
}

.cell:hover img {
	opacity:.2;
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
	-webkit-transition: 0.2s ease;
 	transition: 0.2s ease;
}

.meme-hover-text {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
	visibility:hidden;
	font-weight:700;
}

.cell:hover .meme-hover-text {
	visibility:visible;
	-webkit-transition: 0.6s ease;
 	transition: 0.6s ease;
}

.header {
	font-weight:700;
	font-size: 100px;
	color:white;
}

.line-break {
	width: 30%;
	margin: 0 auto;
	margin-bottom:15px;
	height:1px;
	background-color:red;
}

.sub-header {
	font-size:35px;
	font-weight:200;
	color:white;
}

.year-highlight {
	color:red;
	font-size:40px;
	font-weight: 700;
}

.feature-image {
	height:100%;
	width:100%;
}

.break {
	height:200px;
}

#outro {
	height: 640px;
}


/* scrollama */
#scroll {
	position: relative;
}

.scroll__graphic {
	position: -webkit-sticky;
	position: sticky;
	float: right;
	width:100%;
	top:0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index:100;
}

.scroll__graphic.is-fixed {
	position:fixed;
	width:100%;
	top:0;
}

.scroll__graphic.is-bottom {
	bottom: 0;
	top: auto;
}

.change-data-button-container {
	width:500px;
	margin: 0 auto;
	text-align: center;
	margin-top:10px;
	top:2%
}

.change-data-button {
	font-weight:200;
	cursor:pointer;
	padding: 0px 8px;
	border: 1px solid #aaa;
	font-size: 14px;
	border-radius: 2px;
	display:inline-block;
	width:200px;
	text-align:center;
	background-color:white;
}

.change-data-button-selected {
	background-color: #F5F5F5;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

@media only screen and (max-width: 763px) {
	.change-data-button {
		font-size: 12px;
		display:inline-block;
		width:150px;
	}
}

.meme-name-container {
	position:absolute;
	font-family:'Mada';
	left:2%;
	padding:10px;
	border-radius:5px;
}

.meme-name {
	font-weight:700;
	color:white;
}

.meme-name-sub {
	color:white;
}

.month {
	color:#FF0000;
	font-weight:700;
}

@media only screen and (min-width : 1000px) {
	.meme-name-container {
		top:13%;
		max-width:25%;
	}
	.meme-name {
		font-size: 35px;
	}

	.meme-name-sub {
		font-size:30px;
	}

	.month {
		font-size:30px;
	}
}

@media only screen and (min-width : 764px) and (max-width: 999px) {
	.meme-name-container {
		top:13%;
		max-width:25%;
	}
	.meme-name {
		font-size: 30px;
	}

	.meme-name-sub {
		font-size:25px;
	}

	.month {
		font-size:25px;
	}
}

@media only screen and (max-width: 763px) {
	.meme-name-container {
		top:5%;
		max-width:45%;
	}
	
	.meme-name {
		font-size:25px;
	}

	.meme-name-sub {
		font-size:20px;
	}

	.month {
		font-size:20px;
	}
}

#tweet {
	position:absolute;
	left:3%;
}

@media only screen and (min-width : 1000px) {
	#tweet {
		left:3%;
	}
}

@media only screen and (min-width : 764px) and (max-width: 999px) {
	#tweet {
		left:3%;
	}
}

@media only screen and (max-width: 763px) {
	#tweet {
		top:5%;
		left:50%;
	}
}


.scroll__text {
	position: relative;
	max-width: 30rem;
	width: 33%;
}

.step {
	position:absolute;
	width:1px;
	/* border-bottom: none; */
}

.joyplot-container {
	position:absolute;
	top:0;
}
@media only screen and (min-width : 1000px) {
	.joyplot-container {
		width:60%;
		left:35%;
	}

}

@media only screen and (min-width : 764px) and (max-width: 999px) {
	.joyplot-container {
		width:60%;
		left:35%;
	}
}

@media only screen and (max-width: 763px) {
	.joyplot-container {
		left:5%;
		width:80%;
	}
}

svg {
	display: block;
	margin: 0 auto;
	font-family: 'Mada';
	font-weight: 300;
}

.x-axis line {
	stroke:white;
}

.x-axis path {
	stroke:white;
}

.x-axis text {
	font-family: 'Mada';
	font-size: 12px;
	font-weight:500;
	fill:white;
}

.line {
	fill: none;
}

.benchmark-line {
	stroke: white;
	stroke-dasharray: 2;
	fill:none;
	stroke-width:1.5;
}

.area {
	fill: #ccf4f9;
}

.peak-annotation {
    text-align:center;
    line-height:5px;
    font-family:'Mada';
    font-weight:700;
    border:1px solid white;
    background-color:black;
    padding:10px;
    padding-bottom:15px;
    position:relative;
    height: 25px;
    font-size:14px;
    width:100px;
    color:white;
}

.annotation-triangle {
    display: block;
    content: ' ';
    background: black;
    width: 10px;
    height: 10px;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-top-right-radius: 2px;
    position: absolute;
    top:81%;
    left:7px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

@media only screen and (min-width : 1000px) {
	.peak-annotation {
	}

}

@media only screen and (min-width : 764px) and (max-width: 999px) {
	.peak-annotation {
		font-size: 16px;
	}
}

@media only screen and (max-width: 763px) {
	.peak-annotation {
		font-size: 14px;
	}
}


#tweet-storage {
	display:none;
}
